<html>
<head>
</head>
<body>
<script type="text/javascript">
document.location = "https://odhmjbnlbbmepdhbdhpfjnhngniadfoo.chromiumapp.org/provider_cb#authToken=<%= @token %>";
</script>
</body>
</html>
